 * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #ff4e50, #f9d423);
            color: white;
            overflow: hidden;
            /* ❌ không cho scroll */
        }

        h1 {
          text-align: center;
        }

        p {
            text-align: center;
            font-size: 14px;
            margin: 0;
        }

        .container {
            flex: 1;
            /* chiếm hết phần còn lại */
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            padding: 20px;
            align-content: center;
        }

        .envelope {
            width: 100%;
            aspect-ratio: 3 / 4;
            background: red;
            border-radius: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            transition: transform 0.2s;
        }

        .envelope:active {
            transform: scale(0.95);
        }

        .opened {
            background: gold;
            color: black;
            font-size: 12px;
            font-weight: bold;
            padding: 4px;
            text-align: center;
        }

        #result {
            font-size: 16px;
            padding: 5px;
            min-height: 40px;
        }

        button {
            padding: 8px 14px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 5px;
        }

        #musicBtn {
            position: fixed;
            top: 10px;
            right: 10px;
            font-size: 12px;
            padding: 6px 10px;
        }